/* ======== Animation ======== */
@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ======== Page Container ======== */
.pageContainer {
  display: flex;
  flex-direction: column;
  background-image: url('../assets/images/Background.png');
  background-size: cover;
  height: auto;
  overflow-x: hidden;
}

/* ======== Banner ======== */
.bannerImage {
  display: flex;
  background-image: url('../assets/images/OpenAI.gif');
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
}

.bannerTextContainer {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 300px 0px 0px 30%;
}

.bannerTextContainer > h1 {
  display: flex;
  justify-content: center;
  background-color: #65a6f1ce;
  padding: 5px;
  font-size: 90px;
  animation: FadeIn 3000ms ease-out forwards;
}

.bannerTextContainer > p {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: -25px -50px 5px 50px;
  font-size: 50px;
  color: #65a6f1;
  animation: FadeIn 3000ms ease-out forwards;
}

.separatorContainer {
  display: flex;
  z-index: 2;
}

.infoContainer {
  display: flex;
  justify-content: center;
  padding: 100px;
  color: white;
}

.chatBox {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 600px;
  background-color: #38383863;
  padding: 60px;
  border-radius: 20px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: slideFadeIn 1500ms ease-out forwards;
}

.jobInputSection {
  margin-bottom: 16px;
  font-size: 18px;
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  margin-left: 10px;
}

.chatHistory {
  flex-grow: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
}

.userMsg {
  text-align: right;
  margin: 8px 0;
  color: #00bcd4;
}

.botMsg {
  text-align: left;
  margin: 8px 0;
  color: #ffffff;
}

.inputSection {
  display: flex;
  gap: 16px;
  align-items: center;
}

.submitButton {
  padding: 8px 19px;
  font-size: 16px;
  background-color: #65a6f1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 300ms ease;
}


.submitButton:hover {
  background-color: #3f8be0;
}


.startButton {
  margin-left: 350px;
  padding: 10px 16px;
  font-size: 14px;
  background-color: #65a6f1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.startButton:hover {
  background-color: #3f8be0;
}

.inputExpand {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}

.topButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 -50px 0;
  gap: 20px;
  z-index: 3;
}

.bottomButton {
  display: flex;
  justify-content: center;
  margin: -50px 0 20px 0;
}

.navButton {
  background-color: #65a6f1;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 300ms ease;
}

.navButton:hover {
  background-color: #3f8be0;
}

.versionLabel {
  text-align: center;
  font-size: 24px;
  color: #cccccc;
  margin-top: 100px;
  margin-bottom: -50px;
  font-style: italic;
}